/* GEN LAYOUT & CONTAINERS STYLES */

.details-page__main {
  margin: 0 24px 0;
}

@media (min-width: 700px) {
  .details-page__main {
    margin: 0 40px 0;
  }

  .details-page__company-details,
  .details-page__job-details,
  .job-recap__content {
    max-width: 730px;
    margin: 0 auto;
  }
}

.details-page__company-details,
.details-page__job-details {
  border-radius: var(--main-border-radius);
}

.details-page__company-details,
.details-page__job-details,
.job-recap {
  background-color: var(--sec-bg-color);
}

/* TYPOGRAPHY */

.details-page__company-name,
.details-page__company-link,
.details-page__job-location,
.apply-btn,
.job-recap__position {
  font-weight: 700;
}

.details-page__desc-intro,
.details-page__desc-text,
.details-page__list-item {
  line-height: 26px;
}

.details-page__company-name,
.details-page__job-position,
.details-page__desc-heading,
.job-recap__position {
  font-size: 20px;
}

@media (min-width: 700px) {
  .details-page__company-name {
    font-size: 24px;
  }

  .details-page__job-position {
    font-size: 28px;
  }
}

.details-page__job-location {
  font-size: 14px;
  color: var(--main-accent-color);
}

.details-page__company-name,
.details-page__job-position,
.details-page__desc-heading,
.job-recap__position {
  color: var(--main-text-color);
}

.details-page__desc-text,
.details-page__list-item,
.details-page__desc-intro {
  color: var(--sec-text-color);
}

/* text with color schemes not matching */

.details-page__company-website,
.details-page__job-other-infos,
.job-recap__company {
  color: var(--sec-text-color);
}

.dark-theme .details-page__company-website,
.dark-theme .details-page__job-other-infos,
.dark-theme .job-recap__company {
  color: #6e8098;
}

/* BTN LINKS */

.apply-btn,
.details-page__company-link {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.details-page__company-link {
  color: var(--main-accent-color);
  background-color: #5964e01a;
  padding: 14px 20px;
}

.details-page__company-link:hover {
  background-color: #5964e059;
}

@media (min-width: 700px) {
  .dark-theme .details-page__company-link {
    color: var(--main-text-color);
    background-color: #ffffff1a;
  }

  .dark-theme .details-page__company-link:hover {
    background-color: #ffffff40;
  }
}

.apply-btn {
  background-color: var(--main-accent-color);
  color: var(--main-btn-text-color);
  padding: 14px 28px;
  width: 100%;
  text-align: center;
}

.apply-btn:hover {
  background-color: var(--sec-accent-color);
}

@media (min-width: 700px) {
  .apply-btn {
    width: fit-content;
  }
}

/* COMPANY DETAILS LAYOUT */

.details-page__company-details,
.details-page__company-logo-container {
  display: flex;
  align-items: center;
}

.details-page__company-details {
  padding: 32px 24px;
  text-align: center;
  flex-direction: column;
  margin-top: -15px;
}

.details-page__company-logo-container {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  justify-content: center;
}

.details-page__company-name {
  margin: 0 0 8px;
}

.details-page__company-website {
  margin: 0;
}

.details-page__company-link {
  margin-top: 24px;
}

@media (max-width: 699px) {
  .details-page__company-logo-container {
    transform: translateY(-57px);
    margin-bottom: -33px;
  }
}

@media (min-width: 700px) {
  .details-page__company-details {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    margin-top: -40px;
    text-align: start;
  }

  .details-page__company-logo-container {
    border-radius: 0;
    height: 140px;
    width: 140px;
  }

  .details-page__company-infos {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .details-page__company-link {
    margin: 0;
  }

  .details-page__company-logo {
    width: 81px;
  }
}

/* JOB DETAILS LAYOUT */

.details-page__job-details {
  padding: 40px 24px;
  margin-top: 24px;
}

.details-page__job-details p {
  margin: 0;
}

.details-page__job-position {
  margin: 8px 0;
}

.details-page__desc-intro + .details-page__desc-section {
  margin-top: 66px;
}

.details-page__desc-section {
  margin-top: 40px;
}

.details-page__desc-heading {
  margin: 0 0 23px;
}

.details-page__job-details .apply-btn {
  margin: 50px 0 32px;
}

.details-page__list {
  list-style-position: inside;
  padding: 0;
  margin: 32px 0 0;
}

.details-page__list-item::marker {
  color: var(--main-accent-color);
}

.details-page__list-item + .details-page__list-item {
  margin-top: 8px;
}

@media (min-width: 700px) {
  .details-page__job-details {
    padding: 48px;
    margin-top: 32px;
  }

  .details-page__job-main-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .details-page__job-details .apply-btn {
    margin: 0;
  }

  .details-page__list {
    margin-top: 24px;
  }

  .details-page__desc-intro + .details-page__desc-section {
    margin-top: 40px;
  }
}

@media (min-width: 1100px) {
  .details-page__desc-section + .details-page__desc-section {
    margin-top: 48px;
  }
}

/* JOB RECAP LAYOUT */

.job-recap {
  padding: 24px;
  margin-top: 64px;
}

@media (max-width: 699px) {
  .job-recap p {
    display: none;
  }
}

@media (min-width: 700px) {
  .job-recap {
    padding: 24px 40px;
  }

  .job-recap__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .job-recap__position {
    margin: 0;
  }

  .job-recap__company {
    margin: 8px 0 0;
  }
}

@media (min-width: 700px) and (max-width: 1099px) {
  .job-recap {
    margin-top: 53px;
  }
}

@media (min-width: 1100px) {
  .job-recap {
    margin-top: 80px;
  }
}
