/* GEN STYLES */

.filter-bar,
.filter__search-input,
.modal {
  background-color: var(--sec-bg-color);
}

.filter-bar,
.modal {
  border-radius: var(--main-border-radius);
}

.filter__search-input,
.filter__checkbox-label {
  color: var(--main-text-color);
}

/* FILTER BAR STYLES  */

.filter-bar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  border-radius: var(--main-border-radius);
  margin-top: -40px;
}

@media (min-width: 700px) {
  .filter-bar {
    padding: 0;
    column-gap: 0;
    align-items: stretch;
    max-width: 1100px;
    margin: -40px auto 0;
  }
}

/* SEARCH INPUTS */

.filter__search-input {
  font-size: 16px;
  line-height: 1.25;
  font-family: var(--main-font);
  border: none;
  width: 100%;
}

.light-theme .filter__search-input::placeholder {
  color: #19202d80;
}

.dark-theme .filter__search-input::placeholder {
  color: #ffffff80;
}

.dark-theme input {
  color-scheme: dark;
}

input::-webkit-search-decoration {
  display: none;
}

.filter__search-input--title {
  padding: 16px 0 16px 8px;
}

.filter__search-input--title,
.filter__search-input--location {
  background-repeat: no-repeat;
  background-position: left center;
}

.filter__search-input--location {
  background-image: url("../../assets/icon-location.svg");
}

.modal .filter__search-input--location {
  padding: 16px 0 16px 40px;
  margin: 8px 24px;
  width: calc(100% - 48px);
}

.filter__input-container {
  flex: 1 1 auto;
  min-width: 100px;
}

@media (min-width: 700px) {
  .filter__input-container {
    padding: 14px 24px;
  }

  .filter__input-container:first-child {
    padding-left: 32px;
  }

  .filter__search-input {
    padding: 16px 0 16px 40px;
  }

  .filter-bar > div:not(:first-child):not(:last-child) {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  .filter__search-input--title {
    background-image: url("../../assets/icon-search.svg");
  }

  .filter-bar > div:last-child {
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 24px;
    flex: 0 0 auto;
    justify-content: space-between;
  }
}

/* CHECKBOX */

.filter__checkbox-container {
  display: flex;
  align-items: center;
}

.filter__checkbox {
  margin: 0 16px 0 0;
  height: 24px;
  width: 24px;
  appearance: none;
  border-radius: 3px;
  cursor: pointer;
}

.light-theme .filter__checkbox {
  background-color: #19202d1a;
}

.dark-theme .filter__checkbox {
  background-color: #ffffff1a;
}

.filter__checkbox:hover {
  background-color: #5964e040;
}

.filter__checkbox:checked {
  background-color: var(--main-accent-color);
  background-image: url("../../assets/checked-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px auto;
}

.filter__checkbox-label {
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

/* BTNS */

.filter__modal-open-btn,
.filter__search-btn {
  border: none;
  cursor: pointer;
}

.filter__modal-open-btn {
  background-color: transparent;
  padding: 12px 8px;
}

.filter__modal-open-btn img {
  display: block;
}

.filter__search-btn {
  background-color: var(--main-accent-color);
  color: var(--main-btn-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  padding: 14px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
  width: 100%;
}

.filter__search-btn:hover {
  background-color: var(--sec-accent-color);
}

/* MODAL */

.modal-container {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}

.modal {
  width: 100%;
}

.modal__bottom {
  padding: 24px;
  border-top: var(--border-color) 1px solid;
}
