/* filter bar styles */

.filter-bar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  border-radius: var(--main-border-radius);
  margin-top: -40px;
}

.filter-bar--light {
  background-color: var(--light-sec-bg-color);
}

.filter-bar--dark {
  background-color: var(--dark-sec-bg-color);
}

@media (min-width: 700px) {
  .filter-bar {
    padding: 0;
    column-gap: 0;
    align-items: stretch;
    max-width: 1100px;
    margin: -40px auto 0;
  }
}

/* filter bar search inputs */

.filter-bar__search-input {
  font-size: 16px;
  line-height: 1.25;
  font-family: var(--main-font);
  border: none;
  width: 100%;
}

.filter-bar--light .filter-bar__search-input,
.modal--light .filter-bar__search-input {
  background-color: var(--light-sec-bg-color);
}

.filter-bar--dark .filter-bar__search-input,
.modal--dark .filter-bar__search-input {
  background-color: var(--dark-sec-bg-color);
}

.filter-bar__search-input--title {
  padding: 16px 0 16px 8px;
}

.filter-bar--light .filter-bar__search-input,
.modal--light .filter-bar__search-input {
  color: var(--light-main-text-color);
}

.filter-bar--dark .filter-bar__search-input,
.modal--dark .filter-bar__search-input {
  color: var(--dark-main-text-color);
}

.filter-bar--light .filter-bar__search-input::placeholder,
.modal--light .filter-bar__search-input::placeholder {
  color: #19202d80;
}

.filter-bar--dark .filter-bar__search-input::placeholder,
.modal--dark .filter-bar__search-input::placeholder {
  color: #ffffff80;
}

.filter-bar__search-input--location {
  background-image: url("../../assets/icon-location.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.modal .filter-bar__search-input--location {
  padding: 16px 0 16px 40px;
  margin: 8px 24px;
  width: calc(100% - 48px);
}

.filter-bar__input-container {
  flex: 1 1 auto;
  min-width: 100px;
}

@media (min-width: 700px) {
  .filter-bar__input-container {
    padding: 14px 24px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  .filter-bar__input-container:first-child {
    padding-left: 32px;
  }

  .filter-bar__search-input {
    padding: 16px 0 16px 40px;
  }

  .filter-bar > div:not(:first-child):not(:last-child) {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  .filter-bar__search-input--title {
    background-image: url("../../assets/icon-search-accent.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }

  .filter-bar > div:last-child {
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 24px;
    flex: 0 0 auto;
    justify-content: space-between;
  }
}

/* filter bar checkbox */

.filter-bar__checkbox-container {
  display: flex;
  align-items: center;
}

.filter-bar__checkbox {
  margin: 0 16px 0 0;
  height: 24px;
  width: 24px;
  appearance: none;
  border-radius: 3px;
  cursor: pointer;
}

.filter-bar--light .filter-bar__checkbox,
.modal--light .filter-bar__checkbox {
  background-color: #19202d1a;
}

.filter-bar--dark .filter-bar__checkbox,
.modal--dark .filter-bar__checkbox {
  background-color: #ffffff1a;
}

.filter-bar__checkbox:hover {
  background-color: #5964e040;
}

.filter-bar__checkbox:checked {
  background-color: var(--main-accent-color);
  background-image: url("../../assets/checked-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px auto;
}

.filter-bar__checkbox-label {
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.filter-bar--light .filter-bar__checkbox-label,
.modal--light .filter-bar__checkbox-label {
  color: var(--light-main-text-color);
}

.filter-bar--dark .filter-bar__checkbox-label,
.modal--dark .filter-bar__checkbox-label {
  color: var(--dark-main-text-color);
}

/* filter bar buttons */

.filter-bar__modal-open-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 12px 8px;
}

.filter-bar__modal-open-btn img {
  display: block;
}

.filter-bar__search-btn {
  border: none;
  background-color: var(--main-accent-color);
  color: var(--dark-main-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  padding: 14px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.filter-bar__search-btn:hover {
  background-color: var(--sec-accent-color);
}

.filter-bar__search-btn--text {
  padding: 16px;
}

.modal .filter-bar__search-btn {
  margin-top: 24px;
  width: 100%;
}

/* mobile modal */

.modal-container {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}

.modal {
  border-radius: var(--main-border-radius);
  width: 100%;
}

.modal__bottom {
  padding: 24px;
  border-top: var(--border-color) 1px solid;
}

.modal--light {
  background-color: var(--light-sec-bg-color);
}

.modal--dark {
  background-color: var(--dark-sec-bg-color);
}
