body {
  margin: 0;
  background-color: var(--light-main-bg-color);
}

main {
  margin: 0 24px;
}

.jobs-container {
  margin: 57px 0 32px;
  display: grid;
  row-gap: 49px;
}

@media (min-width: 700px) and (max-width: 1099px) {
  main {
    margin: 0 40px;
  }

  .jobs-container {
    margin: 70px 0 56px;
    grid-template-columns: 1fr 1fr;
    column-gap: 11px;
    row-gap: 65px;
  }
}

@media (min-width: 1100px) {
  main {
    margin: 0 40px;
  }

  .jobs-container {
    margin: 105px auto 135px;
    max-width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 65px;
  }
}
