:root {
  --main-accent-color: #5964e0;
  --sec-accent-color: #939bf4;

  --border-color: #6e809833;

  --main-btn-text-color: #ffffff;

  --main-border-radius: 6px;

  --main-font: "Kumbh Sans", sans-serif;
}

.light-theme {
  --main-bg-color: #f4f6f8;
  --sec-bg-color: #ffffff;

  --main-text-color: #19202d;
  --sec-text-color: #6e8098;
}

.dark-theme {
  --main-bg-color: #121721;
  --sec-bg-color: #19202d;

  --main-text-color: #ffffff;
  --sec-text-color: #9daec2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  line-height: 1.25;
  width: 100%;
}
